fieldset {
    margin: 20px;
    margin-top: 20px;
    padding: 0 10px 10px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 10px #666;
    padding-top: 10px;
   
  }
  legend {
    padding: 2px 4px;
    background: #fff;
    /* For better legibility against the box-shadow */
  }
  fieldset > legend {
    float: left;
    margin-top: -20px;
  }
  fieldset > legend + * {
    clear: both;
  } 
  
  .btn{
    cursor: pointer;
    padding: 25px;
  }
  
  /* Fieldset Cores */
  #title_cor{
    color: white;
  }

  #cores{
    float: right;
    padding: 2px;
    padding-left: 5px;
    width: 200px;
  }

  #botao{ 
    height:20px;
  }
